<div class="container" style="margin-top: 150px" *ngIf="post$ | async as post; else loading">
  <div class="row">
    <div class="col-12">
      <article class="post">
        <div class="post-header">
          <div class="title">
            <h2><a href="#">{{post.title}}</a></h2>
            <p>{{post.description}}</p>
          </div>
          <div class="meta">
            <time class="published">{{post.date | date:'medium':null:'ru'}}</time>
            <a href="#" class="author">
              <span class="name">{{post.author}}</span>
              <img src="../../../../assets/images/avatar.jpg" alt="" />
            </a>
          </div>
        </div>
<!--        <a class="image featured">-->
<!--          <img src="../../../../assets/images/pic01.jpg" alt="" />-->
<!--        </a>-->
        <quill-view-html [content]="post.text"></quill-view-html>
        <div class="post-footer">
          <div routerLink="/" class="button large">На главную</div>
          <!-- <ul class="stats">
            <li><a href="#">General</a></li>
            <li><i class="fas fa-heart"></i> 28</li>
            <li><i class="fas fa-comment"></i> 128</li>
          </ul> -->
        </div>
      </article>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Загружаю пост...</p>
</ng-template>
