<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Автор</strong>
    <small>29.03.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ducimus explicabo harum nemo nesciunt numquam, omnis provident voluptate! A, aliquam culpa deleniti fuga iusto laborum minima nesciunt, non nostrum officiis, optio quibusdam repudiandae sit soluta tempore unde voluptatum. Asperiores aspernatur dolorem maiores neque quas sed voluptates? Aut est repudiandae totam!</p>
  </div>
</div>
