<div class="col-md-12">
  <article class="post">
    <div class="post-header">
      <div class="title">
        <h2><a [routerLink]="['/post', post.id]">{{post.title}}</a></h2>
        <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
      </div>
      <div class="meta">
        <time class="published" >{{post.date | date:'dd.MM.yyyy'}}</time>
        <a href="#" class="author">
          <span class="name">{{post.author}}</span>
          <img src="../../../../assets/images/avatar.jpg" alt="" />
        </a>
      </div>
    </div>
    <a href="#" class="image featured"><img src="../../../../assets/images/pic01.jpg" alt="" /></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At vitae error voluptatibus libero dignissimos vero consequuntur provident magnam, nam reiciendis ea perspiciatis doloremque odit obcaecati nostrum ab, ut. Molestias, delectus.</p>
    <div class="post-footer">
      <a [routerLink]="['/post', post.id]" class="button large">Continue Reading</a>
      <!-- <ul class="stats">
        <li><a href="#">General</a></li>
        <li><i class="fas fa-heart"></i> 28</li>
        <li><i class="fas fa-comment"></i> 128</li>
      </ul> -->
    </div>
  </article>
</div>

