<div *ngIf="posts.length; else loading" class="dashboard" [@slideInDown]>
  <div class="form-control">
    <input type="text" id="search-post" placeholder="Найти пост..." [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Автор</th>
        <th>Название</th>
        <th>Дата</th>
        <th>Действие</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | searchPosts: searchStr; let idx = index">
        <td data-label="#">{{idx + 1}}</td>
        <td data-label="Автор">{{post.author}}</td>
        <td data-label="Название">{{post.title}}</td>
        <td data-label="Действие">{{post.date | date:'medium':null:'ru'}}</td>
        <td>
          <button
            class="button large"
            [routerLink]="['/admin', 'post', post.id, 'edit']"
          >Открыть</button>
          <a class="remove" (click)="remove(post.id)">Удалить</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <div class="loader"><p class="text-center">Загрузка</p></div>
</ng-template>
