<app-alert></app-alert>
<header>
  <h1><a routerLink="/"><i class="fab fa-angular"></i> Angular Blog</a>
    <small>admin-panel</small>
  </h1>
  <nav class="links">
    <ul *ngIf="auth.isAuthenticated()">
      <li>
        <a [routerLink]="['/admin', 'dashboard']">Главная</a>
      </li>
      <li>
        <a [routerLink]="['/admin', 'create']">Создать</a>
      </li>
      <li>
        <a href="#" (click)="logout($event)">Выйти</a>
      </li>
    </ul>
  </nav>
  <nav class="main" (click)="onClick()">
    <a><i class="fas fa-bars"></i></a>
  </nav>
</header>

<div class="container" style="margin-top: 150px;" [@slideInDown]>
  <router-outlet></router-outlet>
</div>


<div id="menu" *ngIf="active" [class.active]="active" [@lightSpeedIn]>
  <div class="close" (click)="onClick()"><i class="fas fa-times"></i></div>
    <div *ngIf="auth.isAuthenticated()">
      <ul class="links">
        <li>
          <a routerLink="/">Вернуться в блог</a>
        </li>
        <li>
          <a [routerLink]="['/admin', 'dashboard']">Главная</a>
        </li>
        <li>
          <a [routerLink]="['/admin', 'create']">Создать</a>
        </li>
        <li>
          <a href="#" (click)="logout($event)">Выйти</a>
        </li>
      </ul>
    </div>
  <!-- Actions -->
  <div>
    <ul class="actions stacked">
      <li><a class="button large fit" [routerLink]="['admin', 'login']">Войти</a></li>
    </ul>
  </div>
</div>
